@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav-Bg {
    background-color: #0C0000;
}

.navBtn {
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    font-size: 24px;
    color: white;
    border-color: #643EEA;
    width: 45px;
    height: 45px;
}

.navbar-image {
    width: 40px;
    height: 40px;
    padding: 5px;
}


.about-my-projects-section {
    background-color: #643EEA;
}


.main-point {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.about-me-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.about-me-section-image {
    width: 100%;
}

.project-section-project-card {
    background-color: #1F0C61;
    height: 500px;
    border-radius: 25px;
}

.project-card-img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.project-type-heading {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.project-heading {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}


.project-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.project-card-link {
    color: #cced00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}